
#///////////////////////////
# Unity Project
#///////////////////////////
Library/
Temp/
Logs/
obj/
UserSettings/
*.csproj
*.sln

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/